figcaption {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-left: 40px;
}
#login-php {
  background-image: url("../static/bg_6.jpg");
  background-size: cover;
  background-position: center;
}
.login-box {
  max-width: 700px;
  float: none;
  margin: 150px auto;
}
.login-left {
  background: rgba(211, 211, 211, 0.5);
  padding: 30px;
}
.login-right {
  background: #fff;
  padding: 30px;
}
/* .form-control {
  background-color: transparent !important;
} */

/*copy*/

/* Store this code in 'style.css' file inside the 'static' folder*/

.header {
  padding: 5px 120px;
  width: 150px;
  height: 70px;
  background-color: gray;
}

.border {
  padding: 80px 50px;
  width: 400px;
  height: 450px;
  border: 1px solid gray;
  border-radius: 0px;
  background-color: rgb(204, 204, 204); /* #9ac0cd;*/
}
.a {
  margin-top: 10px;
}
.btns {
  padding: 10px 40px;
  background-color: #4f4f4f;
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
  border-radius: 10px;
}

.textbox {
  padding: 10px 40px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-family: monospace;
}
::placeholder {
  color: white;
  opacity: 1;
  font-style: oblique;
  font-weight: bold;
}

.word {
  color: white;
  font-style: oblique;
  font-family: monospace;
  font-weight: bold;
}

.bottom {
  color: black;
  font-style: oblique;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}
#login {
  background-image: url("../static/bg_6.jpg");
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

img#tnail {
  height: 250px;
}
